/* Style Sheet */
body {
    margin: 0;
    background-image: url("/assets/images/alfons-morales-YLSwjSy7stw-unsplash (1).jpg");
    /* Photo by <a href="https://unsplash.com/@alfonsmc10?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alfons Morales</a> on <a href="https://unsplash.com/s/photos/library-books?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    /* Photo by Alfons Morales */
}

.mainContainer {
    border: 2px solid black;
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 175px;
    border-radius: 10px;
    height: auto;

}

.bigHeader {
    margin-top: 0;
    text-align: center;
    border-bottom: 5px solid;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: darkgrey;
    border-radius: 6px;
    font-size: 50px;
}

.header {
    border: 5px solid black;
    text-align: center;
    background-color: mintcream;
    border-radius: 5px;
    font-size: 40px;
}



.container-subGenres { 
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   
}

.subGenres-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.subGenres-item {
    justify-content: space-around;
    font-size: 30px;
    list-style-type: none;
    margin-bottom: 20px;
}


#submit {
    margin-left: 36%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
    padding-left: 10%;
    padding-right: 10%;
}

/* Photo by <a href="https://unsplash.com/@alfonsmc10?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alfons Morales</a> on <a href="https://unsplash.com/s/photos/library-books?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  